app/slides/SpafCardioPeaceOfMindSlide/SpafCardioPeaceOfMindSlide.pug
include ../../pug_fragments/header-block
include ../../pug_fragments/table-generator
include ../../pug_fragments/graph-axis
include ../../pug_fragments/patient-value

-
	var options = {
		markers_colors: ['purple-item', 'purple-item']
	}

article.slide#SpafCardioPeaceOfMindSlide
	+headerBlock(headline)
	figure
		figcaption !{figcaption}
		+buildPatientValue(value)
		+tableGenerator(table_data, 4)
		.marker-lines
			each item, index in Array(2)
				.marker-line(class=options.markers_colors[index])
					.marker
		+setAxis(g_scale.caption, 0, 2, 1, g_scale.labels).g-scale-h
		p.description !{description}
	p.bottom-text !{note}
	p.hidden(data-notes='aki ci esrd hr rrr rwe vka')

app/slides/SpafCardioPeaceOfMindSlide/SpafCardioPeaceOfMindSlide.html

<article class="slide" id="SpafCardioPeaceOfMindSlide">
  <header>
    <h1>For Peace of Mind, Consider the<br> Effect of Treatment on their<br> Renal Function</h1>
  </header>
  <figure>
    <figcaption>Data from RELOADED (German RWE study)<sup data-reference-id='Bonnemeier:2019wx'></sup></figcaption>
    <div class="patient-value">
      <div class="patient-icon"></div>
      <p>21,845</p>
    </div>
    <table class="custom-table">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th class="magenta-item">Favours<br><span>Xarelto</span></th>
          <th class="dark-grey-item">Favours<br><span>VKA</span></th>
          <th class="light-grey-item">RRR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="violet-item">AKI</th>
          <td class="light-pink-item"></td>
          <td></td>
          <td><b>–28%</b></td>
        </tr>
        <tr>
          <th class="violet-item">ESRD</th>
          <td class="light-pink-item"></td>
          <td></td>
          <td><b>–68%</b></td>
        </tr>
      </tbody>
    </table>
    <div class="marker-lines">
      <div class="marker-line purple-item">
        <div class="marker"></div>
      </div>
      <div class="marker-line purple-item">
        <div class="marker"></div>
      </div>
    </div>
    <div class="g-scale g-scale-h">
      <ul>
        <li><span>0.0</span></li>
        <li><span>1.0</span></li>
        <li><span>2.0</span></li>
      </ul>
      <p class="g-scale-label">HR (95% CI)</p>
    </div>
    <p class="description">OVERALL DIABETES POPULATION</p>
  </figure>
  <p class="bottom-text">Deliver the added benefit of better preserved renal function<br> vs VKA, especially for those with diabetes<sup data-reference-id='Patel:2011tj,FordyceCB:2016vs-Bonnemeier:2019wx'></sup></p>
  <p class="hidden" data-notes="rrr egfr hr ci vka rwe aki esrd"></p>
</article>
