app/slides/SpafCardioXantusPooledPopupSlide/SpafCardioXantusPooledPopupSlide.html

<article class="slide" id="SpafCardioXantusPooledPopupSlide">
  <p class="hidden" data-reference-id="Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn"></p>
  <p class="hidden" data-notes="vascular_death_4 fatal_bleeding hr ci rrr arr ich bmi nvaf cv af gi"></p>
  <header>
    <h1>Reassuring Safety Outcomes<br>in the Real World<sup data-reference-id='KirchhofP:2017vn'></sup></h1>
  </header>
  <figcaption class="top-caption"><img class="xantus-pooled" src="././shared/images/xantus-pooled.png"/><sup data-reference-id="KirchhofP:2017vn"></sup>
  </figcaption>
  <div class="patients-map">
    <div class="info-block">
      <p class="lead-text">Fatal bleeding<sup data-notes='fatal_bleeding'></sup></p>
      <p class="value">0.2%</p>
      <p class="small-text">per year</p>
    </div>
    <div class="info-block big-number">
      <p class="lead-text">Xarelto<sup>&reg;</sup> patients <br> <span>across the world</span></p>
      <p class="value">11,121</p>
    </div>
    <div class="info-block">
      <p class="lead-text">Major GI bleeding</p>
      <p class="value">0.7%</p>
      <p class="small-text">per year</p>
    </div>
    <div class="info-block big-number">
      <p class="lead-text">Followed <br> prospectively for</p>
      <p class="value">1</p>
      <p class="small-text">year</p>
    </div>
  </div>
  <div class="bottom-notes">
    <p>Prospective international Phase IV real-world study with<br>independent event adjudication.</p>
    <p>Mean CHADS<sub>2</sub>-score: 2.0 (32% of patients had CHADS<sub>2</sub>-score &ge;3).</p>
  </div>
</article>

app/slides/SpafCardioXantusPooledPopupSlide/SpafCardioXantusPooledPopupSlide.pug
include ../../pug_fragments/header-block
include ../../pug_fragments/caption-block
-
	const topCaption = {
		class: 'xantus-pooled',
		reference: 'KirchhofP:2017vn'
	};
	const infoBlocksClasses = ['', 'big-number', '', 'big-number'];

article.slide#SpafCardioXantusPooledPopupSlide
	p.hidden(data-reference-id = 'Bansilal:2015fn,Patel:2011tj,Sherwood:2015up,Connolly:2009wn,EikelboomJ.W:2013tz,Granger:2011hx,LopesR.D:2012uk,Giugliano:2013tc,KatoE.T:2016uf,KirchhofP:2017vn')
	p.hidden(data-notes = 'vascular_death_4 fatal_bleeding hr ci rrr arr ich bmi nvaf cv af gi')
	+headerBlock(headline)
	+captionBlock(topCaption)
	.patients-map
		each block, index in scheme_blocks
			.info-block(class = infoBlocksClasses[index])
				p.lead-text !{block.lead_text}
				p.value !{block.value}
				if block.small_text
					p.small-text !{block.small_text}
	.bottom-notes
		each note in bottom_notes
			p !{note}
