app/slides/SpafCardioSummarySlide/SpafCardioSummarySlide.pug
include ../../pug_fragments/bullet-list
include ../../pug_fragments/header-block

article.slide#SpafCardioSummarySlide
	p.hidden(data-notes='nvaf cv vka')
	+headerBlock(headline)
	.wrapper
		p.list-title !{list_title}
		+bulletList(list)
	p.bottom-text !{bottom_text}

app/slides/SpafCardioSummarySlide/SpafCardioSummarySlide.html

<article class="slide" id="SpafCardioSummarySlide">
  <p class="hidden" data-notes="nvaf cv vka"></p>
  <header>
    <h1>Protect your Patients Who Need<br> the Most from You – Those with<br> NVAF and Diabetes</h1>
  </header>
  <div class="wrapper">
    <p class="list-title">With Xarelto<sup>&reg;</sup>:</p>
    <ul class="diamond-list">
      <li>Give your NVAF patients with diabetes the essential protection they<br> need against fatal CV events<sup data-reference-id='Bansilal:2015fn'></sup></li>
      <li>Deliver the added benefit of better preserved renal function vs VKA,<br> especially for those with diabetes<sup data-reference-id='Patel:2011tj'></sup><sup>,</sup><sup data-reference-id='FordyceCB:2016vs-Bonnemeier:2019wx'></sup></li>
      <li>Tailor your NVAF patients’ dosing to ensure they receive the right dose,<br> at the right time, for the right reason<sup data-reference-id='Xarelto:2018uc'></sup></li>
    </ul>
  </div>
  <p class="bottom-text">Xarelto. For stroke protection you and your NVAF patients can rely on<sup data-reference-id='Xarelto:2018uc'></sup></p>
</article>
